*
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	margin: 0;
	padding: 0;
	user-select: none;
}

body
{
	background: #EEEEEE;
}

header
{
	background: linear-gradient(45deg, #01579B, #E1F5FE);
	color: White;
	padding: 80px;
	text-align: center;
}

header h1, header h2, header h3, header h4, header h5, header h6
{
	border-bottom: none;
}

h1, h2,h3, h4, h5, h6
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

main
{
	background: White;
	flex: 70%;
}

main ul li
{
	padding: 16px;
}

main ul li a
{
	color: #03A4F9;
	text-decoration: none;
}
